# ----------------------
# Flask
# ----------------------
flask
flask-cors
requests
flask-sqlalchemy
psycopg2
sodapy
pandasql

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
