# ----------------------
# Flask
# ----------------------
flask
flask-cors
requests
flask-sqlalchemy
psycopg2
sodapy
git+https://github.com/yhat/pandasql.git

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
