
<style>
    table {
        border-collapse:collapse;
    }
th, td {
    border:1px solid #DCDCDC;
    padding:5px;
    }
</style>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script>
function showFilters() {
  // we will need to make this url come from settings
  var url = 'https://communities.socrata.com/resource/3meq-iszs.json';
    url = 'https://querycontrol.herokuapp.com/forsocrata/owned_datasets/';
      owned_datasets = JSON.parse($.ajax({
            type: "GET",
            url: url,
            async: false
        }).responseText);
    $.each(owned_datasets, function(i, dataset) {
       $('#owned_datasets').append('<option data-datasetid="'+dataset['id']+'"></option>');
    });
  var data =  JSON.parse($.ajax({
            type: "GET",
            url: url,
            async: false
        }).responseText);
  $.each(data, function(i, row) {
    var dataset_filter = JSON.parse(row['filter']);
    $('#editor').append('<h3>'+row['datasetid']+'</h3>');
    $('#editor').append('<pre>'+JSON.stringify(dataset_filter)+'</pre>');
    var editor_html = '<table><tr><th></th>';
      url = 'https://querycontrol.herokuapp.com/forsocrata/'+row['domain']+'/'+row['datasetid']+'/fieldnames/';
      cols = JSON.parse($.ajax({
            type: "GET",
            url: url,
            async: false
        }).responseText);
      $.each(cols, function(i, col) {
          editor_html += '<th>'+col+'</th>';
      });
      editor_html += '</tr>';
    $.each(['group', 'select', 'where'], function(i, param) {
      editor_html += '<tr><th>$'+param+'</th>';
        $.each(cols, function(i, col) {
            var checked = '';
            if (param+'_fields' in dataset_filter) {
              if (dataset_filter[param+'_fields'].indexOf(col) > -1) {
                  checked = 'checked';
              }
            }
          editor_html += '<td><input type="checkbox" '+checked+'/></td>';
      });
        editor_html += '</tr>';
    });
      editor_html += '</table>';
      $('#editor').append(editor_html);
  });
}

$(function() {
  showFilters();
});
</script>
<div id="editor">
    <h3>Add a new filter</h3>
    <div>
        <strong>Dataset:</strong> <select id="owned_datasets"><option></option></select>
    </div>
</div>